**Question 9: Given the score of students in multiple exams.**

|Name|Exam 1|Exam 2|Final Exam|
|:--:|:----:|:----:|:--------:|
|Karan|85|90|92|
|Deepa|70|80|85|
|Karthik|90|85|88|
|Chandan|75|70|75|
|Jeevan|95|92|96|

**Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.**

**Answer:**

In [1]:
# Imports
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [2]:
# Creating a DataFrame consisting the scores of all the students
d = {
    "Karan": [85,90,92],
    "Deepa": [70,80,85],
    "Karthik": [90,85,88],
    "Chandan": [75,70,75],
    "Jeevan": [95,92,96]
}
df = pd.DataFrame(d)
df

   Karan  Deepa  Karthik  Chandan  Jeevan
0     85     70       90       75      95
1     90     80       85       70      92
2     92     85       88       75      96

I will use the one-way ANOVA test to find out whether there exists a statistically significant difference between the mean scores of the students.

In [3]:
f_oneway(
    df["Karan"],
    df["Deepa"],
    df["Karthik"],
    df["Chandan"],
    df["Jeevan"]
)

F_onewayResult(statistic=12.025830258302586, pvalue=0.0007760917135044952)

The p-value is $<0.05$, which means that we reject the null hypothesis that the mean scores of all the students are the same.

# Student with the highest mean:

In [4]:
d = {
    "Name": ["Karan", "Deepa", "Karthik", "Chandan", "Jeevan"],
    "Exam 1": [85,70,90,75,95],
    "Exam 2": [90,80,85,70,92],
    "Final Exam": [92,85,88,75,96]
}
df = pd.DataFrame(d)
df

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [5]:
df["Mean"] = (df["Exam 1"] + df["Exam 2"] + df["Final Exam"])/3
df

      Name  Exam 1  Exam 2  Final Exam       Mean
0    Karan      85      90          92  89.000000
1    Deepa      70      80          85  78.333333
2  Karthik      90      85          88  87.666667
3  Chandan      75      70          75  73.333333
4   Jeevan      95      92          96  94.333333

We can clearly see that `Jeevan` has the highest mean.